*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}
body{
   background-color: #1f2029;
}

/* header */


/* navbar */

.navBar{
    width: 100vw;
    height: 50px;
    background-color: #22272f;
    position: fixed;
    top: 0px;
    z-index: 1000 !important;
}
.nav a {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    transition: all 0.6s;
}
.nav ul{
    width: 80%;
    gap: 40px;
}

.nav a:hover{
    color: #999f;
}


/* title */

.container{
    width: 100vw;
    margin: 0;
}
.titlePhrase{
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.contact{
    background-color: transparent;
}

.contact ul{
    gap: 20px;
}

.contact i {
    color: #fff;
}
.title p{
    color: #fff;
}
.title strong{
    color: gold;
}
.title h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.image img{
    width: 100%;
}

.buttonMore{
    padding: 10px 95px;
    background-color: gold;
    transition: all 0.4s;
}

.buttonMore a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.buttonMore:hover{
    background-color: #fff;
}


/* cards */
.allCards{
    margin-bottom:50px;
}
    .cards{
        gap: 20px;
        padding: 85px;
    }
    .titleSkills,.titleProject{
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        margin: 10px;
    }
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 330px;
    height: 400px;
    background: #000;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.card .image img {
    width: 100%;
    transition: .5s;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #ffc107;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h1 {
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.card .details .center p {
    margin: 8px 0;
    padding: 0;
    font-size: 15px;
    color: #262626;
}
/* 
projetos */

.projects{
    padding: 85px;
    gap: 20px;
}
.imageProjects a {
    width: 400px;
    height: 350px;
}
.imageProjects img{
    width: 100%;
    height: 80%;
    gap: 20px;
    margin: 10px;
    transition: all 0.5s;
}

.imageProjects img:hover{
    opacity: 0.5;
}

.moreProjects{
    padding: 10px 65px;
    background-color: gold;
    transition: all 0.4s;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: #333;
    border: none;
}
.moreProjects:hover{
    background-color: transparent;
    color: black;
    
}
.moreProjects img{
    width: 30px;
}

@media(max-width:1350px){
    .navBar{
        position: static;
        width: 95vw;
    }
}
